[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=minecraft
Group=minecraft
WorkingDirectory=/home/ec2-user/aws-minecraft-server/minecraft

ExecStartPre=/usr/local/bin/minecraft-StartPre.sh
ExecStart=/bin/bash -c 'cd /home/ec2-user/aws-minecraft-server/minecraft && tail -f /tmp/minecraft-input | /usr/bin/java -Xms4G -Xmx6G -jar server.jar nogui'
ExecStop=/bin/bash -c 'echo -e say Closing Minecraft server...\\nstop > /tmp/minecraft-input;'
TimeoutStopSec=90
ExecStopPost=/usr/local/bin/minecraft-StopPost.sh

# Restart behavior
Restart=on-failure
RestartSec=10

# Output to journal
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target